/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/desktop-content.scss ***!
  \******************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);
/*!**********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/desktop-content.scss (1) ***!
  \**********************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);
/*!**********************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/desktop-content.scss (2) ***!
  \**********************************************************************************************************************************************************************/
@charset "UTF-8";
/**
 * @todo Criar um arquivo específico topLinks.css, mover esses links
 * para esse arquivo e remover essa linha. Além disso, importar esse
 * arquivo no arquivo shared.js
 */
.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 0 auto;
  max-width: 1300px;
  min-width: 800px;
  padding: 2% 1% 2% 1%;
  text-align: center;
}
.links > a {
  color: #5882fa;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.links > a[disabled] {
  color: #000 !important;
  cursor: default;
  font-weight: bold;
}
.links > a:visited {
  color: #3f6ff9;
}
.links > a:hover {
  color: #8aa7fb;
}

.content-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.content-inline > .filters {
  background-color: #f5efed;
  height: auto;
  width: 400px;
}
.content-inline > .products {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5efed;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(454px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(454px, 1fr));
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  padding: 15px;
  row-gap: 20px;
  width: 1000px;
}
.content-inline > .products > .product-card {
  background-color: #fbfbff;
  height: 454px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 300px;
}
.content-inline > .products > .product-card:hover {
  -webkit-box-shadow: 0 0 10px 2px rgba(70, 70, 85, 0.15);
          box-shadow: 0 0 10px 2px rgba(70, 70, 85, 0.15);
}

.produto1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-card img {
  transition: -webkit-transform 0.5s ease;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  width: 180px;
}

.text-produtos h2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans ", sans-serif;
  font-size: 14px;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-price-vista {
  color: #606060;
  display: inline-block;
  font-size: 11px;
  margin: 18px -4px 0 1px;
}

span.price.product-price {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fb8b24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 100;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-card-cred {
  /** @todo variável colors.scss */
  color: #606060;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin: 1px 0 0 63px; */
  /** @todo variables.scss */
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 19px;
  margin-top: 3px;
}

.button {
  background-color: #000;
  /* Green */
  border-radius: 24px;
  color: #fb8b24;
  display: inline-block;
  font-size: 16px;
  margin-left: 29px;
  margin-top: 6px;
  padding: 10px 104px;
  text-align: center;
  text-decoration: none;
}

#testeimg img:hover {
  /**
   * @todo remover id, colocar uma classe products-card-image e aninhar
   * a propriedade SCSS dentro do hover do products-card, de forma que
   * ao fazer hover em qqr lugar do card, você aumente a imagem, pois
   * vamos criar uma funcionalidade diferente de zoom na imagem com
   * um cursorzinho de lupa e um zoom mais detalhado (+/- 2.5 vezes)
   */
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  transform: scale(1.1);
}
