@import './variables.scss';
@import './colors.scss';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';
@import './better-media-queries.scss';

body {
  background-color: $-ghost-white;
  margin: 0;
  padding-top: $desktop-navbar-height;
}

.navbar {
  align-items: center;
  background-color: $-dark-orange;
  display: flex;
  height: $desktop-navbar-height;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;

  // @todo remover do html e css
  .navbarButtons {
    display: none !important;
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 100%;
    // float: right;
    padding-left: 28px;
    padding-right: 20px;
    // While hovering
    // Open overlay: "Botão roxo";
    // Animate: Dissolve;

    & > button {
      background: none;
      border: none;
      height: 35px;
      height: 35px;
      padding: 0;
      top: 24px;
      width: auto;

      // Desse forma o hover do botão acontece na área toda, e não apenas em cima do ícone
      &:hover > svg > path,
      &:hover > label > svg > path {
        fill: $all-icon-secondary-color;
        opacity: 1;
      }

      &:not(:first-of-type) {
        margin-left: 12px;
      }

      &:not(:last-of-type) {
        margin-right: 12px;
      }

      &.bars-button {
        .dropdown-menu {
          opacity: 0;
          transform-origin: top center;
          transition: all 300ms ease-in-out;

          & > .facebook,
          .twitter,
          .pinterest {
            backdrop-filter: blur(4px);
            background: rgba(0, 0, 0, 0.68);
            border: 2px solid rgba(0, 0, 0, 0.5);
            height: $all-dropdown-height;
            position: absolute;
            right: 0%;
            width: $all-dropdown-width;

            /* Note: backdrop-filter has minimal browser support */
            // transition: all 300ms ease-in-out;
            // transform-origin: top center;

            &:hover {
              background: darken(rgba(88, 130, 250, 0.68), 49%);
              // backdrop-fil blur(4px);
            }
          }

          @keyframes translateX {
            0% {
              opacity: 0;
              transform: translateX(+$all-dropdown-width);
            }

            // 80% {
            //   transform: translateX(65px);
            // }

            100% {
              opacity: 1;
              transform: translateX(-$all-dropdown-width - $all-dropdown-animation-offset);
            }
          }

          & > .facebook {
            animation: translateX 300ms ($all-dropdown-animation-time) ease-in-out forwards;
            display: none;
            right: -$all-dropdown-width - $all-dropdown-animation-offset;
            top: $desktop-navbar-height;
          }

          & > .twitter {
            animation: translateX 300ms (2 * $all-dropdown-animation-time) ease-in-out forwards;
            display: none;
            right: -$all-dropdown-width - $all-dropdown-animation-offset;
            top: $desktop-navbar-height + $all-dropdown-height;
          }

          & > .pinterest {
            animation: translateX 300ms (3 * $all-dropdown-animation-time) ease-in-out forwards;
            display: none;
            right: -$all-dropdown-width - $all-dropdown-animation-offset;
            top: $desktop-navbar-height + $all-dropdown-height * 2;
          }
        }
      }

      & > #openDropdown {
        display: block;
        position: absolute;
        top: 99999px;
        // width: 50px;
        // height: 50px;

        &:focus,
        &:active {
          background-color: $all-icon-secondary-color;
          fill: $all-icon-secondary-color;

          & + label {
            & > svg > path {
              fill: $all-icon-secondary-color;
            }

            & + .dropdown-menu {

              opacity: 1;

              & > * {
                display: block;
              }
            }
          }
        }
      }

      & > svg,
      & > label > svg {
        height: 100%;
        width: 29px;

        & > path {
          color: $all-icon-main-color;
          fill: $all-icon-main-color;
          opacity: 1;
          transition: all ease-in-out 300ms;

          &:hover {
            color: $all-icon-secondary-color;
            fill: $all-icon-secondary-color;
            opacity: 1;
          }
        }
      }
    }
  }

  .logoAndSearch {
    align-items: center;
    display: flex;
    flex-grow: 1;

    .logo {
      @include media('screen', '<minWidth') {
        height: $mobile-search-height;
        width: $mobile-search-width;
      }

      // retina
      @include media('retina', '<minWidth') {
        height: $mobile-search-height * $retina;
        width: $mobile-search-width * $retina;
      }

      height: 73px;
      margin: 10px 12px 0 36px;
      width: 106px;
    }

    .search {
      align-items: center;
      display: flex;
      flex-grow: 1;
      height: $desktop-search-height;
      max-width: $desktop-search-width;
      transition: all ease-in-out 300ms;
      width: 100%;


      &:hover {
        & > input {
          background-color: transparentize($-languid-lavander, 0.3);
          border-radius: 0;
          // opacity: 70%;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), inset 0 4px 4px rgba(0, 0, 0, 0.25);
        }

        & > button > svg > path {
          fill: $all-icon-secondary-color;
          opacity: 1;
        }
      }

      & > input {
        background-color: $orange-salmon;
        border: none;
        border-radius: 0;
        box-sizing: border-box;
        max-width: $desktop-search-width;
        outline: none !important;
        padding: $all-input-padding-top $all-input-padding-right $all-input-padding-bottom $all-input-padding-left;
        width: 100%;

        &:focus,
        &:active {
          background-color: transparentize($-languid-lavander, 0.3);
          border-radius: 0;
          // opacity: 70%;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), inset 0 4px 4px rgba(0, 0, 0, 0.25);
          outline: 1px solid darken($-dark-orange, 15%) !important;
        }
      }

      & > button {
        background: none;
        border: none;
        height: $all-search-button-height;
        margin-left: -52px;
        padding: 0;
        width: $all-search-button-width;

        & > svg {
          height: 100%;
          width: 100%;

          & > path {
            color: $all-icon-main-color;
            fill: $all-icon-main-color;
            opacity: 1;
            transition: all ease-in-out 300ms;

            &:hover {
              color: $all-icon-secondary-color;
              fill: $all-icon-secondary-color;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

/** @todo criar um arquivo para o products.scss, importar no products.js */
#slide img {
  margin-left: -171px;
}


.botaofiltro { 
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-family: 'Open Sans ', sans-serif;
  font-size: 16px;
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between;
  line-height: 28px;
  outline: 0;
  padding: 0;
  width: 100%;
}
  
#filtro input {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

label {
  cursor: pointer;
  display: block;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.7;
  opacity: 0.8;
}

#filtro ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.titulofiltro {
  flex: 1;
  font-family: 'Open Sans';
  font-size: 26px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 0;
}

.bordafiltro {
  align-items: baseline;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  padding-bottom: 20px;
}

#filtro {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.textofiltro {
  // margin-top: 15px;
}

.limparfiltros {
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  margin-top: 10px;
}

.form-control {
  border-radius: 5px;
  color: #333;
  // background-color: #eeeeee;
  // border: 1px solid #dddddd;
  cursor: pointer;
  margin-top: 20px;
  // padding: 8px 12px;
  padding: 12px 45px;
}

.form-control:focus,
.select:hover {
  border: 1px solid #bbb;
  outline: none;
}

.cartaovezes {
  margin-left: 3px;
}

//Style Boostrap mod
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x)/-2);
  margin-right: calc(var(--bs-gutter-x)/-2);
  margin-top: calc(var(--bs-gutter-y)*-1);
}

//Container

.container,
.container-sm {
  margin: auto;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.75rem;
  padding-left: var(--bs-gutter-x, 0.75rem);
  padding-right: 0.75rem;
  padding-right: var(--bs-gutter-x, 0.75rem);
  width: 100%;
}
// Fim container



.row>* {
  width: auto !important;
  max-width: 400px !important;
  height: auto;
  max-height: 465px;
  flex-shrink: 0;
  margin-top: var(--bs-gutter-y);
  max-width: 100%;
  padding-left: calc(var(--bs-gutter-x)/2);
  padding-right: calc(var(--bs-gutter-x)/2);
  width: 100%;
}


//Design
#servicos a.destaque {
  line-height: 1.5rem;
  background: #f0f0f0;
  border-radius: 5px;
  color: #000;
  display: block;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

#servicos a.destaque:hover {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}

#servicos p {
  color: var(--dark);
}

#servicos a.destaque .img-container {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
}

#servicos a.destaque .img-container img {
  max-height: 160px;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.col-lg-3 {
  margin: 20px;
}

#clientes {
  margin-top: 150px;
}

#clientes a.link-cliente {
  align-items: center;
  background: #fff;
  border: solid 1px var(--light);
  display: flex;
  height: 100px;
  justify-content: center;
  padding: 0 15px;
  transition: ease-out all 0.2s;
}

#clientes a.link-cliente:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  transform: scale(1.2);
}

#clientes a.link-cliente img {
  filter: grayscale(100%);
  max-height: 70px;
  opacity: 0.6;
  width: 100%;
}

#clientes a.link-cliente:hover img {
  filter: none;
  opacity: 1;
}

#clientes .cliente-texto {
  background-color: var(--light);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 47px;
  padding: 30px;
}

#clientes .cliente-texto .imagem {
  align-items: center;
  color: #b4b4b4;
  display: flex;
  font-size: 24px;
  line-height: 26px;
  margin-left: -70px;
  padding: 60px 0;
}

#clientes .cliente-texto .imagem span {
  color: var(--secondary);
  display: block;
  font-size: 110px;
  font-weight: 900;
  letter-spacing: -10px;
  line-height: 110px;
}

#clientes .cliente-texto .telefone {
  color: #b4b4b4;
  display: flex;
  font-size: 14px;
}

#clientes .cliente-texto .telefone span {
  color: #797979;
  display: block;
  font-size: 25px;
  font-weight: 900;
}

.text-center {
  text-align: center;
  align-self: center;
  vertical-align: middle;
}
