@import "./variables.scss";

body {
    padding-top: $desktop-navbar-height;
    margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $desktop-navbar-height;
  background-color: $desktop-navbar-color;
  
  .navbarButtons {
      // float: right;
      padding-left: 28px;
      padding-right: 20px;
      flex-shrink: 0;

      &>button {
          height: 35px;

        &:not(:first-of-type) {
            margin-left: 12px;
        }

        &:not(:last-of-type) {
            margin-right: 12px;
        }
      }
      
  }

  .logoAndSearch {
      display: flex;
      align-items: center;
      flex-grow: 1;

    .logo {
        width: 106px;
        height: 73px;
        margin: 10px 12px 0 36px;
    }

    .search {
        width: 100%;
        max-width: $desktop-search-width;
        height: $desktop-search-height;
        display: flex;
        align-items: center;
        flex-grow: 1;

        &>input {
            width: 100%;
            max-width: $desktop-search-width;
        }
        
        &>button {
            width: $all-search-button-width;
            height: $all-search-button-height;
            margin-left: -52px;
        }
    }
  }
}