$desktop-navbar-height: 83px;
$desktop-search-width: 613px;
$desktop-search-height: 49px;
$desktop-search-margin: 17px 0 17px 36px;

$all-search-button-width: 35px;
$all-search-button-height: 35px;

$desktop-links-padding-top: 2%;
$desktop-links-padding-right: 1%;
$desktop-links-padding-bottom: 2%;
$desktop-links-padding-left: 1%;

$desktop-links-margin-top: 0;
$desktop-links-margin-right: auto;
$desktop-links-margin-bottom: 0;
$desktop-links-margin-left: auto;

$desktop-links-min-width: 800px;

$desktop-products-width: 1000px;
$desktop-filters-width: 400px;

$desktop-products-padding: 15px;

$desktop-product-card-width: 300px;
$desktop-product-card-height: 454px;
$desktop-product-card-row-gap: 20px;
$desktop-product-card-column-gap: 20px;

$all-input-padding-top: 0;
$all-input-padding-right: 0;
$all-input-padding-left: 15px;
$all-input-padding-bottom: 0;

$all-dropdown-width: 273px;
$all-dropdown-height: 49px;

$all-dropdown-animation-time: 75ms;
$all-dropdown-animation-offset: 5px;
