$desktop-navbar-height: 83px;
$desktop-navbar-color: #E08E45;
$desktop-search-width: 613px;
$desktop-search-height: 49px;
$desktop-search-margin: 17px 0 17px 36px;

$all-search-button-width: 35px;
$all-search-button-height: 35px;

