@import './better-media-queries.scss';


// .nav-inicio{
//     flex: 1 1 0;
// }

// .nav-global{
//     display: flex;
//     font: normal normal normal 16px/1.4em "open sans",sans-serif;
    
// }

// .nav-margin{
//     margin-bottom: 60px;
//     margin-top: 35px;
// }

// .container a{
//     text-decoration: none;
//     cursor: pointer;
//     color: black;
// }

// .arquivos-container{
//     display: flex;
//     justify-content: space-between;
// }

.nav-global {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  // border: 1px solid red;
  max-width: 960px;
  padding: 60px 0; 
}

.arquivos-container {
  flex: 2 1 300px;
  margin: 0 10px;
}

.img-arquivos {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 960px;
  padding: 60px 0; 
}

.h1class {
  flex: 1 1 160px;
  margin: 0 10px;
}

/*Sobre*/

.sobre {
  // border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 960px;
  padding: 60px 0;
}

.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.sobre-info h1 {
  color: #575757;
  // font-size: 3em;
  // margin-bottom: .5em;
  font: normal normal normal 26px/1.4em 'open sans',sans-serif;
  font-size: 24px;
  line-height: 1.2em;
}

.sobre-info p {
  color: black;
  font: normal normal normal 16px/1.4em 'open sans',sans-serif;
}

.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

.sobre .span-price {
  color: #575757;
  font: normal normal normal 20px/normal 'open sans',sans-serif;
     
}

.sobre .span-juros {
  color: #575757;
  font: normal normal normal 14px/normal 'open sans',sans-serif;
  margin-top: 25px;
}

.sobre .label-space {
  margin-top: 25px;
}

.sobre .button-vendas {
  background-color: #e08e45;
  border-radius: 24px;
  color: #000;
  display: inline-block;
  font-size: 16px;
  margin-left: -6px;
  margin-top: 37px;
  padding: 12px 66px;
  text-align: center;
  text-decoration: none;

}


.menu {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font: normal normal normal 16px/1.4em 'open sans',sans-serif;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  padding: 15px 0;
}

.menu a {
  color: black;
}

.menu-logo a {
  font-size: 16px;

  text-decoration: none;
  @include media('screen', '<bp1Width') {
   font-size: 11px ;
  }

}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 16px;
  // display: block;
  // padding: 10px;
  text-decoration: none;
}

.menu-nav a:hover {
  color: #122ab2;
  text-decoration: none;
}

.WtQOd {
  margin-left: 10px;
    
}

// .WtQOd::before{
//     border-left: 1px solid #000000;
//     margin-right: 10px;
//     content: "";
//     display: inline-block;
//     height: 16px;
//     transform: translateY(2px);
// }

svg {
  transform: rotate(0deg) translateY(2px);

}


.caracts {
  padding-top: 24px;
}

.caracts-div-text {
  text-align: left;
}

.info-baixo {
  color: #000;
  font: normal normal normal 16px/1.4em 'open sans',sans-serif;
  height: auto;
  margin-bottom: 40px;
  padding: 20px 0;
  width: auto;
}

.div-caract {
  padding-top: 24px;
    
}



._2UIKs {
  flex-grow: 1;
  font-size: 15px;
  line-height: 1.6em;
  margin: 0;
}


._2K_N3 {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  padding: 0;
  position: relative;
  text-align: inherit;
  text-decoration: inherit;
  width: 85%;
}

.s8gg2 {
  color: #000;
  font: normal normal normal 16px/1.4em 'open sans',sans-serif;
}



.menu-vendas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 960px;
  padding-top: 10px;
}

.menu-vendas p,
.menu-nav a {
  margin: 0 10px 10px;
}

.menu-vendas a {
  color: black;
  
}

.img-vendas{
  width: 500px; 
  height: 500px; 
  border: 1px solid #dadada;
  @include media('screen', '<bp1Width') {
    width: 288px;
    height: 266px;
  }

}

.logo{
  @include media('screen', '<bp1Width') {
   display: none;
  }
}

header{
  @include media('screen', '<bp1Width') {
    display: none;
   }
}